* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: #222;
}

body {
    background-color: salmon;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 12px 12px 24px 12px;

    h1 {
        font-family:'Courier New', Courier, monospace;
        font-size: clamp(20px, 5vw, 38px);
        line-height: 32px;
        font-weight: 900;
        text-shadow: 3px 3px 0 rgba(40, 40, 40, .2);
        text-align: center;
    }
}

nav {
    width: 100%;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 12px;
    }

    li {
        display: flex;
        align-items: center;
        line-height: 24px;

        img {
            margin-inline: 6px;
        }
    }
}

main {
    width: 100%;
    max-width: 800px;
    &.girthy {
        max-width: 100%;
    }

    div.video iframe {
        border: 10px solid black;
        width: 100%;
        aspect-ratio: 16 / 9;
        max-height: 80vh;
    }

    nav.video-nav {
        text-align: center;
    }

    div.votes {
        position: relative;
        display: flex;
        border: 1px solid black;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin: 10px 0 10px 0;

        .or {
            font-size: 3rem;
            font-weight: 900;
        }

        button {
            width: 25%;
            min-height: 80px;
            max-height: 100px;
            border-radius: 6px;
            font-size: 2rem;
        }

        .vote-over {
            height: 100%;
            width: 100%;
            position: absolute;
            visibility: hidden;
            display: none;
        }

        .login-nag {
            background-color: darkslategrey;
            opacity: 60%;
            align-items: center;
            justify-content: center;


            &:hover {
                opacity: 100%;
            }

            a {
                color: white;
            }

            &.disabled {
                visibility: visible;
                display: flex;
            }
        }
    }

    h2, h3, h4 {
        font-weight: 800;
        margin-bottom: 8px;
        margin-top: 12px;
        font-style: italic;
        border-bottom: 1px solid black;
    }

    h4 {
        font-size: 16px;
    }

    .golden {
        text-align: center;
        font-size: larger;
    }
    
    p.faq {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 1em;
    }

    p.golden {
        font-size: 18px;
        font-weight: 600;
        
    }

}