<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homo-Geniuses{% block title %}{% endblock title %}</title>
    <meta name="description" content="An appreciation of gay inventors.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block head %}{% endblock head %} 
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Homo-Geniuses: an appreciation of gay inventors</a></h1>
    </header>
    <nav aria-label="Site navigation">
        <ul class="site-nav">
            <li><a href="{{ url_for('faq') }}">what is this place?</a></li>
            <li><a href="{{ url_for('videos.no_video_id') }}">cast judgement</a></li>
            <li><a href="{{ url_for('videos.submit_clip') }}">submit clips</a></li>
            {% if not user.is_anonymous %}
                <li>logged in as: <img src="{{ user.avatar }}" alt="Steam avatar for {{user.handle}}" width="24" height="24"/><a href="{{ url_for('auth.logout') }}">(jack out)</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">sign in (via steam)</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block main %}{% endblock main %}
    </main>
    {% block script %}{% endblock script %}
</body>
</html>