<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homo-Geniuses{% block title %}{% endblock title %}</title>
    <meta name="description" content="An appreciation of gay inventors.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block head %}{% endblock head %} 
</head>
<body>
    <nav aria-labelledby="user-panel" class="user-panel">
        <h2 id="user-panel">User panel</h2>
        {% if user %}
        <div>
            <img src="{{ user.avatar }}" alt="Steam avatar for {{user.handle}}" width="32" height="32"/>
            <a href="{{ url_for('user.user_profile', steam_id=user.steam_id) }}">{{ user.handle }}</a>
        </div>
        {% endif %}
        <ul>
            {% if not user %}
            <li><a href="{{ url_for('auth.login') }}">Jack In (via Steam)</a></li>
            {% else %}
            <li><a href="{{ url_for('user.edit_user_profile', steam_id = user.steam_id) }}">Edit Profile</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Jack Out</a></li>
            {% endif %}
        </ul>
    </nav>
    <header>
        <h1>Homo-Geniuses: an appreciation of gay inventors</h1>
        <a class="what">what is this place?</a>
    </header>
    <main class="">
        {% block main %}{% endblock main %}
    </main>
    {% block script %}{% endblock script %}
</body>
</html>