{% extends 'base.html' %}

{% block title %}: what is this?{% endblock %}

{% block main %}
<h2 class="golden">The Golden Rule:</h2>
<p class="golden faq">If you're here to be a homophobic piece of shit I kindly suggest you Log Off and Get A Life, for everyone else, let's continue.</p>

<h3>What am I looking at?</h3>
<p class="faq">homo-geniuses is a website that allows users to submit clips from competitive games and then cast judgement upon them; deciding if the clip is "genius" or "homo". Through this aggregation we will be able to determine the truly ~homo-genius~ moments.</p>

<h3>homo-genius?</h3>
<p class="faq"><em>Homo-genius: a history of gay inventors</em> (link: <a href="https://www.youtube.com/playlist?list=PL03A1BFDC75064F12">YouTube</a>) is a series of clips from fighting games put together by <a href="https://www.youtube.com/@DandyDLC" title="DandyJ's YouTube channel">DandyJ</a>. Each of these clips represents a near perfect cross-section of decisions that are both genius and homo.</p>
{% endblock %}
