{% extends 'base.html' %}

{% block title %}: what is this?{% endblock %}

{% block main %}

<section>
    <article>
        <header>
            What am I looking at?
        </header>
        <p>Homo-geniuses is a website that allows users to submit clips from competitive games and then cast
            judgement upon them; deciding if the clip is homo or genius.</p>
        <p>Through this aggregation we will be able to determine the truly <mark>homo-genius</mark> moments.</p>
    </article>
</section>

<section>
    <article>
        <header>homo-genius?</header>

        <p><em>Homo-genius: a history of gay inventors</em> (link: <a
                href="https://www.youtube.com/playlist?list=PL03A1BFDC75064F12" class="secondary">YouTube</a>) is a
            series of clips put
            together by <a href="https://www.youtube.com/@DandyDLC" title="DandyJ's YouTube channel"
                class="secondary">DandyJ</a>.
            Each clip perfectly encapsulates the essence of a homo-genius moment.</p>
    </article>
</section>

<section class="grid">
    <article>
        <header>Becoming a (homo) Genius</header>

        <p>Submit your clip to the whims of the internet. Clip must already exist on YouTube, I'm not paying for
            bandwidth.</p>
        <button>Submit Clip</button>
    </article>
    <article>
        <header>Cast Your Judgements</header>

        <p>Sign in (via Steam) to start casting your votes on every single video here. Let the world know what you
            REALLY think!</p>
        <button>Sign In / Start Voting</button>
    </article>
</section>
{% endblock %}