{% extends 'base.html' %}

{% block main %}
<section class="fluid-yt" data-video_id="{{ video.video_id }}">
    <iframe src="https://www.youtube.com/embed/{{ video.video_id }}?controls=1" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <div class="grid">
        <a href="{{ url_for('videos.oldest_video') }}">&lt;&lt; Oldest</a>
        {% if prev_video %}
        <a href="{{ url_for('videos.video_page', video_id=prev_video) }}">&lt; Prev video</a>
        {% else %}
        Prev video
        {% endif %}
        {% if user.steam_id %}
        <a href="{{ url_for('videos.random_video', steam_id=user.steam_id) }}">New to me (without my
            vote)</a>
        {% else %}
        <a href="{{ url_for('videos.random_video') }}">Random Video</a>
        {% endif %}
        {% if next_video %}
        <a href="{{ url_for('videos.video_page', video_id=next_video) }}">Next video &gt;</a>
        {% else %}
        Next video
        {% endif %}
        <a href="{{ url_for('videos.newest_video') }}">Newest &gt;&gt;</a>
    </div>
</section>

<div class="votes" aria-label="Vote options">
    {% if not user.is_authenticated %}
    <div class="vote-over login-nag disabled"><a href="{{ url_for('auth.login') }}">Jack in to cast judgements!</a>
    </div>
    {% endif %}
    {% set disabled = "disabled" if not user.is_authenticated or users_prev_vote != None else "" %}
    <button type="button" class="hvote" {{disabled}}><span class="hlang">{{ strings["HOMO"] }}</span> <span
            class="hcount">{{
            video.homo_votes
            }}</span></button>

    <div class="already-voted">
        {% if users_prev_vote != None %}
        <p>You previously voted: {{ strings["HOMO"] if users_prev_vote == 0 else strings["GENIUS"] }}.</p>
        <p>
            <button type="button" class="reset">reset vote</button>
        </p>
        {% else %}
        <p>No vote logged.</p>
        {% endif %}
    </div>

    <button type="button" class="gvote" {{disabled}}><span class="glang">{{ strings["GENIUS"] }}</span> <span
            class="gcount">{{
            video.genius_votes
            }}</span></button>
</div>
<div class="score" aria-label="Video score">
    <p class="sentiment">{{ sentiment }}</p>
    {% set hide = "hidden" if score < 0 or (video.homo_votes + video.genius_votes) < 10 else "" %} <div
        class="score-bar {{hide}}">
        <div class="guide">
            <div class="homo-section">{{ strings["GENIUS"] }}</div>
            <div class="tied-section">{{ strings["HOMOGENIUS"] }}</div>
            <div class="genius-section">{{ strings["HOMO"] }}</div>
        </div>
        <div class="homo-bar bar" data-votes="{{ video.homo_votes }}"></div>
        <div class="genius-bar bar" data-votes="{{ video.genius_votes }}"></div>
</div>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='/js/videos.js') }}"></script>
{% endblock %}