{% extends 'home.html' %}

{% block video %}
<div class="video" aria-label="Homo-genius video">
    <iframe src="https://www.youtube.com/embed/AonAoNCq7RQ?si=a_T_HSTJcMHgPl6T&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="votes" aria-label="Vote options">
    <button type="button">homo</button>
    <span class="or">or</span>
    <button type="button">genius</button>
</div>
<div class="score" aria-label="Video score">
    <p>Votes for homo: 0</p>
    <p>Votes for genius: 0</p>
</div>
{% endblock %}